@import './../../styles';

.player-box {
    margin-top: 20px;
    @include dflex($fw: wrap, $jc: center, $cg: 15px, $rg: 11px);
}

.player {
    position: relative;
    box-sizing: border-box;
    text-wrap: nowrap;
    @include fStyle($fs: 20px, $color: white);
    @include dflex($jc: space-between, $ai: center, $g: 10px);
    @include bStyle();
    padding: 0 20px;

    >img {
        object-fit: cover;
        @include size($w: 80px, $h: 80px);
        @include bStyle($color: transparent, $radius: 50%);
    }
}

@keyframes pulse-active-player {
    0% {
        background-color: rgba(103, 255, 250, 0.1);
        color: rgb(255, 255, 255);
    }

    50% {
        background-color: rgba(217, 217, 217, 0.6);
        color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgba(217, 217, 217, 0.1);
        color: rgb(255, 255, 255);
    }
}

.player-active {
    animation: pulse-active-player 1.7s infinite ease-in-out;
}

@keyframes pulse-next-player {
    0% {
        color: rgb(255, 225, 0);
    }

    50% {
        color: rgb(255, 0, 0);
    }

    100% {
        color: rgb(255, 225, 0);
    }
}

.player-next-title {
    z-index: 9;
    position: absolute;
    right: -30px;
    top: 0;
    rotate: 20deg;
    font-size: 20px;
    font-weight: 900;
    animation: pulse-next-player 1.7s infinite ease-in-out;
}

.player-active-title {
    z-index: 9;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: -14px;
    font-size: 24px;
    font-weight: 900;
    color: rgb(255, 0, 0);
}

.delete-player-svg {
    position: absolute;
    left: -14px;
    top: -14px;
    width: 18px;
    height: 18px;
    padding: 2px;
    background-color: rgb(38, 2, 2);
    color: rgb(0, 0, 0);
    @include bStyle($radius: 50%, $width: 2px);
    transition: color 0.2s ease, border-color 0.8s ease;

    &:hover {
        cursor: pointer;
        color: rgb(140, 0, 0);
        border-color: rgb(140, 0, 0);
    }
}

@media(max-width:1660px) {

    .player-box {
        @include dflex($cg: 1vw, $rg: 1vw);
    }

    .player {
        @include fStyle($fs: 18px);
        @include dflex($g: 0.8vw);
        padding: 0 1vw;

        >img {
            @include size($w: 4.5vw, $h: 4.5vw, $min-w: 45px, $min-h: 45px);
        }
    }

    .player-next-title {
        right: -1.2vw;
        top: 0;
        font-size: 18px;
    }
}

@media(max-width:1285px) {

    .player {
        @include fStyle($fs: 18px);
        @include dflex($g: 0.8vw);
        padding: 0 1vw;

        >img {
            @include size($w: 4.5vw, $h: 4.5vw, $min-w: 45px, $min-h: 45px);
        }
    }

    .player-next-title {
        right: -1.5vw;
        top: -0.4vw;
        font-size: 14px;
    }
}

@media(max-width:710px) {

    .player-next-title {
        right: -3vw;
        top: -1.2vw;
        font-size: 12px;
    }
}