<div class="player-box">
    @for(player of game.players; track player.name; let i = $index){
    <div [ngClass]="{'player-active': i === game.currentPlayer}" class="player">
        <img src="assets/img/player_profiles/{{ player.image }}.jpg" alt="">
        <span>{{ player.name }}</span>
        <span class="player-next-title" *ngIf="i === (game.nextPlayer) && game.language ==='en'">PICK A
            CARD</span>
        <span class="player-next-title" *ngIf="i === (game.nextPlayer) && game.language ==='de'">Karte
            ziehen</span>
    </div>
    }
</div>