@import './../../styles';

.player-box {
    margin-top: 20px;
    @include dflex($fw: wrap, $jc: center, $cg: 15px, $rg: 11px);
}

.player {
    box-sizing: border-box;
    text-wrap: nowrap;
    @include fStyle($fs: 20px, $color: white);
    @include dflex($jc: space-between, $ai: center, $g: 10px);
    @include bStyle();
    padding: 0 20px;

    >img {
        object-fit: cover;
        @include size($w: 80px, $h: 80px);
        @include bStyle($color: transparent, $radius: 50%);
    }
}

@keyframes pulse {
    0% {
        background-color: rgba(103, 255, 250, 0.1);
        color: rgb(255, 255, 255);
    }

    50% {
        background-color: rgba(217, 217, 217, 0.6);
        color: rgb(0, 0, 0);
    }

    100% {
        background-color: rgba(217, 217, 217, 0.1);
        color: rgb(255, 255, 255);
    }
}

.player-active {
    animation: pulse 2s infinite ease-in-out;
}