@import './../../styles';

.game-screen {
    @include size($w: 100vw, $h: 100vh, $max-w: 100%);
    @include dflex($jc: center, $ai: center);
}

.field {
    position: relative;
    background-color: rgba(42, 0, 0, 0.85);
    @include size($w: 90vw, $h: 90vh);
    @include bStyle();
}

.card-stack {
    position: absolute;
    right: 40vw;
    top: 560px;

    img {
        position: absolute;
        z-index: 99;
        width: 140px;
    }
}

.top-card {
    right: 40px;
    bottom: 35px;
    transform: rotate(-10deg);
    transition: all 125ms ease-in-out;

    &:hover {
        cursor: pointer;
        transform: rotate(-20deg) scale(1.1) !important;
    }
}

.played-card {
    right: 40px;
    bottom: 35px;
}

.pick-card {
    right: 40px;
    bottom: 35px;
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.2) translateX(284px) translateY(-11px);
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(1.4);
    }

    100% {}
}

.add-player-btn {
    position: absolute;
    right: 40px;
    top: 50%;
    width: 64px;
    height: 64px;
    background-color: rgb(66, 66, 66);
    @include dflex($jc: center, $ai: center);

    @media(max-width:1285px) {
        right: 20px;
        top: 50%;
        width: 50px;
        height: 50px;
    }
}

.info-box {
    position: absolute;
    bottom: 20px;
    width: 75%;
    transform: translateX(20%);
    text-align: center;
}

.safari-size {
    bottom: 15vh !important;
}

.language-image {
    position: absolute;
    right: 40px;
    top: 60%;
    width: 64px;
    height: 64px;
    @include bStyle($radius: 50%, $style: none);
    scale: (0.95);
    transition: all 0.2s ease;

    &:hover {
        cursor: pointer;
        scale: (0.9);
    }

    @media(max-width:1285px) {
        right: 20px;
        top: 58%;
        width: 50px;
        height: 50px;
    }

    @media(max-width:860px) {
        right: 20px;
        top: 67%;
        width: 50px;
        height: 50px;
    }

    @media(max-width:710px) {
        right: 8px;
        top: 66%;
        width: 50px;
        height: 50px;
    }

    @media(max-width:430px) {
        right: 8px;
        top: 61vh;
        width: 40px;
        height: 40px;
    }
}

.restart-game-btn {
    position: absolute;
    right: 10px;
    top: -186px;
    background-color: rgb(66, 66, 66);
    color: black;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 54px;
    @include dflex($jc: center, $ai: center);

    @media(max-width:1285px) {
        font-size: 15px;
        top: -149px;
        width: 82px;
        height: 45px;
    }

    @media(max-width:710px) {
        font-size: 12px;
        right: 0px;
        top: -114px;
        width: 66px;
        height: 36px;
    }

    @media(max-width:430px) {
        font-size: 10px;
        right: -13px;
        top: -84px;
        width: 49px;
        height: 25px;
    }
}

@media(max-width:1285px) {

    .card-stack {
        right: 47vw;
        top: 520px;

        img {
            @include size($w: 120px);
        }
    }

    .played-card {
        right: 7.5vw;
        bottom: 2vw;
    }

    .pick-card {
        right: 7.5vw;
        bottom: 2vw;
    }

    .info-box {
        bottom: 20px;
        width: 91%;
        transform: translateX(5%);
    }
}

@media(max-width:860px) {

    .played-card {
        right: 11.5vw;
        bottom: 4vw;
    }

    .pick-card {
        right: 11.5vw;
        bottom: 4vw;
    }

    .add-player-btn {
        right: 20px;
        top: 60%;
        width: 50px;
        height: 50px;
    }

    .info-box {
        bottom: 20px;
        width: 98%;
        transform: translateX(1%);
    }
}

@media(max-width:710px) {

    .field {
        background-color: rgba(42, 0, 0, 0);
        @include size($w: 100%, $h: 100%);
        border: none;
        border-radius: 0;
    }

    .card-stack {
        right: 58vw;
        top: 457px;

        img {
            width: 90px;
        }
    }

    .played-card {
        right: 0;
        left: -230px;
        bottom: 14px;
    }

    @keyframes pick-card-animation-resp {
        0% {
            transform: scale(1);
            left: -110px;
        }

        40% {
            transform: scale(1.4);
            left: -110px;
        }

        60% {
            transform: scale(1.4);
            left: -110px;
        }

        100% {}
    }

    .pick-card {
        right: 0;
        left: -230px;
        bottom: 14px;
        animation: pick-card-animation-resp 1s ease-in-out;
    }

    .add-player-btn {
        right: 8px;
        top: 59%;
        width: 50px;
        height: 50px;
    }

    .info-box {
        width: 96%;
        transform: translateX(2%);
        bottom: 8vh;
    }
}

@media(max-width:430px) {

    .card-stack {
        right: 55vw;
        top: 60vh;

        img {
            width: 60px;
        }
    }

    .played-card {
        right: 0;
        left: -231px;
        bottom: 10px;
    }

    @keyframes pick-card-animation-resp {
        0% {
            transform: scale(1);
            left: -85px;
        }

        40% {
            transform: scale(1.4);
            left: -85px;
        }

        60% {
            transform: scale(1.4);
            left: -85px;
        }

        100% {}
    }

    .pick-card {
        right: 0;
        left: -231px;
        bottom: 10px;
        animation: pick-card-animation-resp 1s ease-in-out;
    }

    .add-player-btn {
        right: 8px;
        top: 53vh;
        width: 40px;
        height: 40px;
    }

    .info-box {
        width: 96%;
        transform: translateX(2%);
        bottom: 12vh;
    }
}