<div class="game-screen">
    <div class="field">
        <app-player [game]="game"></app-player>
        <div [ngClass]="{'margin-bottom80': isSafariBrowserOnSmartphone()}" class="card-stack">
            <img *ngFor="let c of showCardStack(); let i = index;" [ngStyle]="{'right.px': i * 5,'bottom.px': i * 5}"
                src="assets/img/cards/card_cover.png" alt="card_stack_image_{{i}}">

            <img *ngIf="isCardStackEmpty()" (click)="takeCard()" class="top-card" src="assets/img/cards/card_cover.png"
                alt="top_card_image">

            <img *ngFor="let card of game.playedCards" class="played-card"
                [ngStyle]="{'transform': 'scale(1) translateX(284px) translateY(-11px) rotate(' + card.rotation + 'deg)'}"
                src="assets/img/cards/{{ card.name }}.png" alt="card image">

            <img *ngIf="pickCardAnimation" [ngStyle]="{'transform': getTransformStyle()}" class="pick-card"
                src="assets/img/cards/{{ currentCard }}.png">

            <button (click)="restartGame()" *ngIf="game.stack.length === 0" mat-fab color="primary"
                class="restart-game-btn box-shadow">
                <span>Restart?</span>
            </button>
        </div>
        <button [ngClass]="{'safari-size': isSafariBrowserOnSmartphone()}" (click)=" openDialog()" mat-fab
            color="primary" class="add-player-btn box-shadow">
            <mat-icon style="color:black;">add</mat-icon>
        </button>
        <img [ngClass]="{'safari-size': isSafariBrowserOnSmartphone()}" (click)="switchLanguage('de')"
            class="language-image box-shadow" *ngIf="game.language === 'en'" src="assets/img/languages/en_image.png"
            alt="en_language_flag_img">
        <img [ngClass]="{'safari-size': isSafariBrowserOnSmartphone()}" (click)="switchLanguage('en')"
            class="language-image box-shadow" *ngIf="game.language === 'de'" src="assets/img/languages/de_image.png"
            alt="de_language_flag_img">
        <app-game-info [ngClass]="{'safari-size': isSafariBrowserOnSmartphone()}" *ngIf="currentCard"
            [card]="currentCard" [game]="game" class="info-box"></app-game-info>
    </div>
</div>