@import './../../styles';

.letterCountGreen {
    color: green;
}

.letterCountOrange {
    color: orange;
}

.letterCountRed {
    color: red;
}

.dialogTitleWithPlayerCount {
    @include dflex($ai: center);
    font-size: 20px;

    >span {
        margin: -7px 0 0 5px;
    }
}