* {
    margin: 0;
    user-select: none;
    font-family: 'Big Shoulders Text';
}

html {
    --mdc-filled-text-field-caret-color: #00ddff !important;
    --mdc-filled-text-field-focus-active-indicator-color: #00ddff !important;
    --mdc-filled-text-field-focus-label-text-color: #00ddff !important;
    height: auto;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
}

body {
    background-color: rgba(0, 0, 0, 0.7);
}

.material-icons {
    font-family: 'Material Icons' !important;
}

button {
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    text-align: inherit;
    cursor: pointer;
}

@mixin textShadow($top: 2px 2px 2px, $right: -2px -2px 2px, $bottom: 2px -2px 2px, $left: -2px 2px 2px, $color: black) {
    text-shadow:
        $top $color,
        $right $color,
        $bottom $color,
        $left $color;
}

@mixin size($w: null, $h: null, $max-w: null, $max-h: null, $min-w: null, $min-h: null) {
    width: $w;
    height: $h;
    max-width: $max-w;
    max-height: $max-h;
    min-width: $min-w;
    min-height: $min-h;
}

@mixin dflex($fd: null, $jc: null, $ai: null, $fw: null, $g: null, $cg: null, $rg: null) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
    gap: $g;
    column-gap: $cg;
    row-gap: $rg;
}

@mixin bStyle($width: null, $style: solid, $color: black, $radius: 8px) {
    border: $width $style $color;
    border-radius: $radius;
}

@mixin fStyle($fs: null, $color: null, $fw: null) {
    font-size: $fs;
    color: $color;
    font-weight: $fw;
}

.box-shadow {
    box-shadow:
        0 10px 20px rgba(0, 0, 0, 0.5),
        0 6px 6px rgba(0, 0, 0, 0.3);
}

.margin-bottom80 {
    margin-bottom: 80px;
}

.landscape-mode {
    @include size($w: 100vw, $h: 100vh, $max-w: 100%);
    @include dflex($jc: center, $ai: center);
    background-color: black;
}

.p-none {
    pointer-events: none;
}

.d-none {
    display: none;
}

/* big-shoulders-text-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 100;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-text-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 200;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-text-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-text-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-text-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-text-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-text-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-text-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 800;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* big-shoulders-text-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Big Shoulders Text';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/big-shoulders-text/big-shoulders-text-v24-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}