@import './../../styles';

mat-card {
    @include dflex($fd: column, $g: 20px);
    padding: 30px 20px;
    height: max-content;
    color: rgb(0, 0, 0);

    mat-card-title {
        font-size: 32px;
        font-weight: 900;
    }

    mat-card-content {
        font-size: 28px;
        font-style: italic;
        font-weight: 600;
        line-height: 28px;
        padding: 0;
    }
}


@media(max-width:1285px) {

    mat-card {
        mat-card-title {
            font-size: 28px;
        }

        mat-card-content {
            font-size: 24px;
        }
    }
}

@media(max-width:860px) {

    mat-card {
        gap: 13px;
        padding: 20px 20px;

        mat-card-title {
            font-size: 26px;
        }

        mat-card-content {
            font-size: 20px;
        }
    }
}

@media(max-width:705px) {

    mat-card {
        gap: 0;
        padding: 10px 10px;

        mat-card-title {
            font-size: 18px;
        }

        mat-card-content {
            font-size: 16px;
            line-height: 18px;
        }
    }
}